 

 

<!-- Footer -->
<section class="pt-4 pb-3" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-4 col-lg-2">
                <div class="title">پرسش و پاسخ</div>
                <ul>
                    <li><a href="./blog.html">سوال 1</a></li>
                    <li><a href="./blog.html">سوال 1</a></li>
                    <li><a href="./blog.html">سوال 1</a></li>
                    <li><a href="./blog.html">سوال 1</a></li>
                    <li><a href="./blog.html">سوال 1</a></li>
                    <li><a href="./blog.html">سوال 1</a></li>
                    <li><a href="./blog.html">سوال 1</a></li>

                </ul>
            </div>
            <div class="col-6 col-sm-4 col-lg-2">
                <div class="title">جدید ترین مقالات</div>
                <ul>
                    <li><a href="./products.html">مقاله 1</a></li>
                    <li><a href="./products.html">مقاله 1</a></li>
                    <li><a href="./products.html">مقاله 1</a></li>
                    <li><a href="./products.html">مقاله 1</a></li>
                    <li><a href="./products.html">مقاله 1</a></li>
                    <li><a href="./products.html">مقاله 1</a></li>
                     <li><a href= "./products.html">مقاله 1</a></li>

                </ul>
            </div>
            <div class="col-6 col-sm-4 col-lg-2">
                <div class="title">ارتباط با موسسه</div>
                <ul>
                    <li><a href="./login.html">دریافت مشاور</a></li>
                    <li><a href="./register.html">رزرو مشاوره</a></li>
                    <li><a href="./reset-password.html">درباره ما</a></li>
                    <li><a href="./cart.html">ارتباط با مدیریت</a></li>
                    <li><a href="./checkout.html">ارتباط با ادمین سایت</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-12 col-lg-6">
                <hr class="d-lg-none">
                <img src="assets/images/logo.png" alt="">موسسه حقوقی صلح حافظ
                <p>
                    شرح مختصر از موسسه:
                    تاریخ تاسیس
                    ۱۳۹۷/۱/۲۸
                    وضعیت شرکت
                    فعال
                    نوع شرکت
                    موسسه
                    آخرین آگهی روزنامه رسمی
                    ۱۳۹۷/۲/۶
                    شماره ثبت
                    44476
                    کد اقتصادی
                    ثبت نشده
                    شناسه ملی
                    14007528413
                    صنعت
                    ثبت نشده
                </p>
                <div class="row">
                    <div class="col-12 col-md-6 text-center p-2" id="support-info">
                        <div>شنبه تا چهارشنبه از ساعت 10 تا 17</div>
                        <div>پاسخگوی شما عزیزان هستیم</div>
                        <div>0912000000 </div>

                    </div>
                    <div class="col-12 col-md-6 pt-2 pt-md-0" id="certificates">
                        @*<div class="row">
                            <div class="col-4 text-center">
                                <a href="#"><img src="assets/images/certificates/enamad.png" alt=""></a>
                            </div>
                            <div class="col-4 text-center">
                                <a href="#"><img src="assets/images/certificates/samandehi.png" alt=""></a>
                            </div>
                            <div class="col-4 text-center">
                                <a href="#"><img src="assets/images/certificates/etehadiye.png" alt=""></a>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Footer -->